NODE_ENV=your_node_env
PORT=your_port_number
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=your_db_host
POSTGRES_DB=your_db_name
POSTGRES_PORT=your_db_port
PINO_LOG_LEVEL=your_pino_log_level
DATABASE_URL=your_db_url
